body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #242320;
  @media (max-width: 769px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h1 {
  margin: 4rem 0 0.5rem;
  font-family: 'Shrikhand', serif;
  font-size: 3rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 800;
}

section {
  margin: 1rem 0;
  border-top: 2px solid #9d9b98;
  padding-top: 1rem;
}

strong {
  font-weight: 600;
}

.links {
  display: flex;
  gap: 8px;
  justify-content: space-between;

  @media only screen and (min-width: 768px) {
    max-width: 75%;
  }
}

a:link,
a:visited {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  padding: 4px 8px;
  border-radius: 24px;
  text-decoration: none;
  color: #242320;
  border: 2px solid #242320;
  background: linear-gradient(to bottom, #cff321 0%, #cff321 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size 0.3s;
  font-weight: 600;
}

a:active,
a:hover {
  background-size: 4px 50px;
}

.container {
  display: grid;
  grid-template-columns: 36% 64%;
  height: 100vh;
}

.left {
  background-color: #c4c0bc;
  padding: 20px;
  color: #242320;
}

.right {
  background-color: #cff321;
  padding: 20px;
}

.inline {
  display: inline;
}

.polaroid-frame-desktop,
.polaroid-frame-mobile {
  position: relative;
  left: -20px;
  top: 10px;
  padding: 24px 12px 28px 12px;
  aspect-ratio: 9 / 14;
  width: 250px;
  rotate: -4deg;
  background-color: #ecedf1;
  border: 1px solid;
  border-radius: 4px;
  border-top-color: #dad8db;
  border-right-color: #ecedef;
  border-bottom-color: #7f7e83;
  border-left-color: #c6c5ca;
}

.polaroid-frame-mobile {
  width: 120px;
  margin-bottom: 10px;
  margin-left: 10px;
  position: unset;
  float: right;
}

.polaroid-int {
  aspect-ratio: 10 / 13;
  border-top: 1px solid #c8c8ca;
  background-image: url('./me.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
  }
  .polaroid-frame-desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .polaroid-frame-mobile {
    display: none;
  }
  .polaroid-frame-desktop {
    display: block;
  }
}
